[submodule "lib/pbc"]
	path = lib/pbc
	url = https://github.com/no-sec/pbc.git
[submodule "lib/rapidjson"]
	path = lib/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "lib/googletest"]
	path = lib/googletest
	url = https://github.com/google/googletest.git
