[submodule "lib/pbc"]
	path = src/lib/pbc
	url = https://github.com/no-sec/pbc.git
[submodule "lib/rapidjson"]
	path = src/lib/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "src/lib/aixlog"]
	path = src/lib/aixlog
	url = https://github.com/badaix/aixlog.git
[submodule "src/lib/sha2"]
	path = src/lib/sha2
	url = https://github.com/ogay/sha2.git
[submodule "src/lib/Catch2"]
	path = src/lib/Catch2
	url = https://github.com/catchorg/Catch2.git
	branch = v2.x
